.home-info{
    position: relative;
}
.home-info img {
    width: 100%;
}
.home-info .description{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 390px;
    transform: translate(-50%, -50%);
}
.description h2 {
    font-size: 35px;
    text-transform: uppercase;
}

