.contact{
    text-align: center;
    min-height: calc(100vh - 350px);
}
.title h2{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    margin: 150px 0 20px 0;
}
.contact-description{
    text-align: center;
    margin-bottom: 20px;
}
.contact-links{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.contact-links a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--primary);
}
.contact-links a:hover, .contact-items a:hover{
    color: var(--secondary);
}
.contact-items{
    display: flex;
    justify-content: center;
}
.contact-items a{
    color: var(--primary);
    margin: 0 20px;
}
