.home-info{
    position: relative;
}
.home-info img {
    width: 100%;
}
.home-info .description{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 450px;
    transform: translate(-50%, -50%);
}
.description h2 {
    font-size: 42px;
    text-transform: uppercase;
}
.instruction{
    position: relative;
}
.instruction img{
    width: 100%;
    opacity: 0.3;
}
.instruction h2{
    position: absolute;
    top: 15%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
.instruction-container{
    display: flex;
    justify-content: center;
}
.grid-container{
    position: absolute;
    top: 50%;
    display: grid;
    place-items: center;
    max-width: 1300px;
    text-align: center;
    grid-template: 55px 100px / 1fr 1fr 1fr;
    gap: 20px 20px;  
}
.grid-container h3{
    font-size: 25px;
    text-transform: uppercase;
}
.partnership{
    display: flex;
    align-items: center;
    max-width: 1300px;
    padding: 30px 0;
    margin: 0 auto;
}
.partnership .description{
    width: 40%;
    margin-right: 40px;
}
.partnership .description h2{
    margin-bottom: 20px;
}
.partnership .description p{
    margin-bottom: 20px;
}
.button{
    text-decoration: none;
    background: none;
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: var(--primary);
    border: 2px solid var(--primary);
}
.button:hover{
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}
.img-box{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
.img-box img {
    max-width: 550px;
    filter: blur(1.5px);
}
p{
    color:var(--gray-dark);
}