:root{
  --primary: #ff5379;
  --gray-dark: #343a40;
  --gray: #a3a4a5;
  --gray-light: #e0e0e0;
  --red: #ff2c1d;
  --blue: #0000ff;
  --white: #fff;
  --secondary: #bb1f41;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.5;
}

